body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    width: 100%;
    max-width: 200px; /* Set a maximum width for the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    background-color: #444;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #555;
    transition: background-color 0.3s;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}

h1, h2 {
    color: #444;
}

section {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
    }

    header img {
        max-width: 150px; /* Smaller maximum width for smaller screens */
    }

    main {
        padding: 15px;
    }
}
